@import 'variables';

@import '../fonts/fontawesome-free-6.0.0/css/all.min.css';

@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/dist/sweetalert2';
@import '~@fortawesome/fontawesome-svg-core/styles';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

@import 'components/server-error';

.profile-photo {
  width: 2rem;
  height: 2rem;
  margin: -.375rem 0;
}

.mx-publish {
  padding: 8px 18px;
  background-color: #8fd18f;
  border-radius: 21px;
  color: #fff;
  line-height: 18px;
  display: inline-block;
}
.max-w-100px {
  max-width: 100px;
}
.table > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table thead {
  border-color: #000000;
  border-bottom-width: 2px;
}
.table tbody tr {
  border-color: #d3d3d3;
  border-bottom-width: 1px;
}
.title {
  font-size: 40px;
}